.publica p{
	margin: 2% 0% 0% 10%;
}
.text-primero {
  color: #28c5e6;
  padding: 0% 2%;
  }
  .icon{
  	padding-left: 2%;
  	float: left;
  }
  /*.icon img {
  	width: 10%;
  }*/
  .text-lorem{
  	margin: 5% 0 -5% 21%;
  }
  .text-icon{
  	margin: 5% 0 9% 21%;
  }
  .caja {
  	padding-right: 23%;
  margin-bottom: 3%;

  }