/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*/
body {
  font-family: 'Lato', sans-serif;
}
.container-fluid{
  padding: 0px;
}
.navbar {
  background: transparent;
  border-color: transparent;
  transition:0.5s ease-in-out;
}
.nav li a{
  text-decoration: none;
  font-size: 18px;
}
button.btn {
  padding: 6px 14px;
  border-radius: 11%;
}
.navbar-right {
  padding: 2% 2% 0% 2%;
}
.navbar.scroll{
  background-color: #F0FBFD;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navbar-default {
	margin-bottom: 0;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
  margin: 5px;
}
.row {
  margin-right: 0px;
}
.active a {
 background-color: #989898;
}
li button{
  background-color: #aaa;
  color: white;
  border-radius: 10px;
  padding: 5% 15%;
  font-size: 13px;
  border: transparent;
  font-weight: bold;
}
.btn-default {
  color: #989898;
  border-color: #ccc;
  border-radius: 50%;
  }
.navbar-default .navbar-nav > li > a {
  color: #989898;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #989898;
  background-color: transparent;
}
li .dropdown{
  border: 1px solid gray;
  width: 13%;
  height: 7%;
  border-radius: 13%;

}
.intro{
	&.container-fluid{
		background-image:url(../img/img-home.png);
		height:100%;
		background-repeat: no-repeat;
		background-size:cover;
    padding: 0px;
	}
}
.text-center {
	text-align:center;
}
.log{
  padding: 12% 12% 0;
}
.text-primary {
	color: #58C6E7;
 
}
h3, h4 {
font-weight: 500;
  line-height: 1.3;
  margin-top: 21px;
  margin-bottom: 10.5px;
 }
 .text-gray {
 color: #989898;
  font-size: 15px;
 }
  button{
  padding: 2.7% 9%;
  margin: 4% 0;
  border-radius: 10px;
}
.button-red {
  background-color: #FF6A49;
  color: #fff;
}
 .buttom-home .btn-default {
  color: white !important;
  padding: 6px 27px !important;
  background: #ff6a49;
  border-radius: 12px;
  border: 1px solid #ff6a49;
 position: relative;
  text-align: center;
}
.flecha{
  position: relative;
  text-align: center;
  top: 129px;
}
h1.metodologia {
  padding: 4% 0%;
  color:#58C6E7;
  text-align:center;
}
span {
	color:#FF6A49;
}
.first-icon {
	position: relative;
  padding-left: 122px;
  top: 10px;
}
.second-icon{
	left: -35px;
  position: relative;
  bottom: -58px;
}
.line-container {
  height: 150px;
  &.sm {
    height: 100px;
  }
}

.line1 {
  width: 150px;
  height: 47px;
  border-bottom: 2px dashed #FF6A49;
  position: absolute;
 /* -webkit-transform: translateY(10px) translateX(2px) rotate(-18deg);*/
  top: -21px;
  left: 0px;
  -webkit-transform:
        translateY(115px)
        translateX(156px)
        rotate(-18deg); 
}
.circulo-externo {
   background-color: #ff6a49;
  height: 480px;
  border-radius: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 2%;
}
/*hover*/
.circulo-externo:hover{
  background-color: white;
}

.line2{
	width: 151px;
  height: 47px;
  position: absolute;
  border-bottom: 2px dashed #FF6A49;
 -webkit-transform:
        translateY(116px)
        translateX(-63px)
        rotate(22deg); 
  bottom: 125px;
  left: -15px;
}
/*hover*/
.circulo-interno {
  border-radius: 100%;
  border: 2px dashed white;
  padding: 30% 11%;
  height: 100%;
  width: 100%;
}
/*hover*/
.circulo-interno:hover {
  border: 2px dashed #FF6A49;
}
.circle-text h4 {
  color: white;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 21px;
}
.linea3{
  border-left: 2px dashed #FF6A49;
  height: 110px;
  width: 150px;
  position: absolute;
  left: 50%;
}
.text-left p{
 text-align: center;
  padding: 0% 16% 2% 0%;
  color: #989898;
}
.text-mean{
 color: #FF6A49;
 letter-spacing: -1px;
 padding-left: 21%;
}
.text-main{
  color: #FF6A49;
  letter-spacing: -1px;
  padding-right: 31%;
}
.text-medio {
  color: #FF6A49; 
  text-align: center;
  padding-left: 4%;
}
.text-medio p{
  color: #989898;
  text-align: center;
}
.text-right p{
color: #989898;

}
.buttom-center {
  text-align: center;
  margin-top: 3%;
}
.buttom-center .btn-default {
  padding: 12px 74px !important;
  background: #58C6E7;
  border-radius: 17px;
  /* border: 1px solid #9f9f9f; */
  margin-bottom: 8%;
  color: #fff;
}
/*.btn {
  padding: 3px 27px;
  border-radius: 11%;
}
.btn {
  padding: 11px 28px;
}*/
.flecha-2{
  position: relative;
  bottom: -35px;
  text-align: center;
}

.container-postulantes {
  background-image: url(../img/img-02.png);
}
.flecha-em{
    position: relative;
  bottom: 25px;
  text-align: center;

}
.text-postula  {
  text-align: center;
 color: white;
   padding:6% 0%;
    h3 {
      font-size: 25px;
    }
}

.icon-1{
  text-align: right;
}

.logo1{
  position: absolute;
  left: 77%;
  top: 0%;
}
.perfil {
  border-bottom: 1px dashed white;
}
.perfil-2 {
  border-bottom: 1px dashed white;

}
.perfil-3{
  border-bottom: 1px dashed white;

}
.perfil-2 h4{
 font-size: 24px;
  color: #fff;
  padding-right: 11%;
}
.perfil-3 h4{
   font-size: 24px;
  color: #fff;
  padding-right: 10%;
}

.perfil h4{
  font-size: 24px;
  color: #fff;
}

.text-perfil-2{
  text-align: center;
  color: #fff;
  padding: 9% 28%;

}
.perfiles{
  margin-bottom: 7%;
}
.right-1{
    border: 1px dashed white;
    width: 10%;
   -webkit-transform: translateY(50px) translateX(484px) rotate(90deg);
}
.right-2{
    border: 1px dashed white;
    width: 13%;
   -webkit-transform: translateY(25px) translateX(470px) rotate(90deg);
}
.right-3{
    border: 1px dashed white;
   width: 13%;
  -webkit-transform: translateY(28px) translateX(474px) rotate(90deg);

}
.buttom-postula .btn-default {
  color: white !important;
  padding: 10px 18px !important;
  background: #58C6E7;
  border-radius: 17px;
  border: 1px solid #fff;
}

.buttom-postula{
  text-align: center;
  margin-bottom: 8%;
}

/*empresa*/
.container-empresas{
  text-align: center;
  padding-top: 4%;
}
    h2{
      color:  #FF6A49;
    }

.buttom-empresa{
  border: 1px dashed #FF6A49;
  width: 42%;
  margin: 8px auto;

}
.empresa-sm {
  padding: 1% 31%;
  color: #989898;
}
.logo-empresa img {
  border-radius: 60%;
}
.text-empre{
  padding: 0% 6%;
  color: #989898;
}
.text-empre h3{
  margin: 10% -17% 5% -17%;
  font-size: 20px;
}
.text-empre h4{
  color: #28c5e6;

}
.texto-empresa h4{
  color:  #989898;
  font-size: 20px;
}

.buttom-empresa2 .btn-default {
  color: white !important;
  padding: 10px 50px !important;
  background: #FF6A49;
  border-radius: 18px;
  border: 1px solid #fff;
  margin: 2% 0% 7% 0%;
}


/*educativo*/

.educativos{
  background-color: #77d248;
  text-align: center;
}
.texto-educativos{
  margin-top: 6%;
  text-align: center;
}
.texto-educativos h2 {
  color: #fff;
  font-size: 25px;
}
.texto-educativos h4{
  color: #fcf07e;
}

.texto-educativos p{
  padding: 1% 25%;
  color: white;
}
.flecha-educa{
      position: relative;
  bottom: 35px;
  text-align: center;

}

.buttom-educativo{
    border: 1px dashed #fff;
  width: 48%;
  margin: 8px auto;
}
.text-educa{
  color: #fff;
}
.buttom-educa .btn-default {
  color: white !important;
  padding: 6px 50px !important;
  background: #77d248;
  border-radius: 17px;
  border: 3px solid #fff;
  margin: 5% 0% 8% 0%;
}
/*oportunidades*/
.oportunidades{
  background-image: url(../img/img-03.png);
  width: 100%;
  background-size: cover;
}
.text-1{
  padding-top: 4%;
}
.text-1 h2 {
  color: gray;
  text-align: center;
  padding: 4% 5% 3% 8%;
}
.lista{
  border-bottom: 1px dashed rgba(128, 128, 128, 0.21);
  margin: 0 23%;
  padding: 3% 0%;
}
.servicio{
  padding-bottom: 3%;
}
.servicio li{
  text-decoration: underline;
  color: #58C6E7;
  list-style: none;
}
li{
  list-style: none;
  color: gray;
}
.ver{
  margin-top: 40%;
  float: right;
}
.buttom-ver{
  text-align: center;
  padding: 2% 0% 9% 0%;
}
.ver .btn-default {
  color: #FF6A49 !important;
  padding: 2px 12px !important;
   background: white; 
  border-radius: 17px;
  border: 1px solid;
  border: 1px solid #FF6A49;
}

/*blog*/
.logo-blog{
 text-align: center;
 position: relative;
  top: 39px;
}
.logo-blog img{
  border-radius: 50%;
}
.text-blog{
  text-align: center;
    padding: 5% 0% 0%;
}
.text-blog h2 {
  color: gray;
}
.content-blog{
  background-color: rgba(128, 128, 128, 0.16);
  height: 35%;
  width: 92%;
  color: #989898;
}
.content-blog:hover{
  background-color: #ffc200;
  height: 35%;
  width: 92%;
  color: white;
}
.content-blog p {
  text-align: center;
 padding: 17%;
}
.blog-farolito {
  margin: 0 10%;
}
.buttom-blog {
  padding: 6%;
  text-align: center;
}
.buttom-blog .btn-default  {
    color: white !important;
  padding: 7px 42px !important;
  background: #58C6E7;
  border-radius: 17px;
  border: 1px solid #fff;
}
.flecha-blog {
  position: relative;
  bottom: -35px;
  text-align: center;
}

/*contactanos*/
.contactanos {
    background-color: #eeeeee;
    height: 100%;

}
h2.contacto{
  color: #9E9D9D;
  text-align: center;
  padding: 5% 0% 0%;
}
.formulario{
  padding: 4% 28% 6% 35%;

}
/*button{
  margin-left: 44%;
}*/
.btn {
  padding: 3px 27px;
  border-radius: 11%;
}
.btn-primary {
 background: #9e9d9d;
  color: white;
  padding: 2px 25px;
  border-radius: 14px;
  border-color: gray;
}
h5.llamanos span {
  color: gray;
    color: gray;
  padding-left: 36%;

}
.footer {
  color: #777777;
  background-color: #989898;
  height: 49px !important;
}
.footer-1 {
  color: #777777;
  background-color: #989898;
  height: 58px !important;
  }
ul.redes {
  position: relative;
  bottom: 23px;
  left: -2%;

}
@media screen and (max-width:$screen-phone){
  .navbar-toggle{
    float: left;
  }
  .navbar{
    background-color: gray;
  }
  .line2 {
  width: 151px;
  height: 47px;
  position: absolute;
  border-bottom: 2px dashed #FF6A49;
  -webkit-transform: translateY(99px) translateX(89px) rotate(0deg);
  bottom: 125px;
  left: -22px;
}
.line-container.sm {
  height: 1px;
}
.linea3 {
  border-bottom: 2px dashed #FF6A49;
  height: 2px;
  width: 151px;
  position: absolute;
  left: 20%;
}
.line-container {
  height: 0;
}
.text-left {
  text-align: center;
}
.text-right {
  text-align: center;
}
.text-left p {
  text-align: center;
  padding: 0% 15 2% 5%;
  color: #989898;
}
  .buttom-home {
  position: absolute;
  float: right;
  bottom: 88%;
  left: 46%;
}
}
 