.navbar {
  background: transparent;
  border-color: transparent;
}
.navbar-default {
	margin-bottom: 0;
}
.row {
  margin-right: 0px;
}

.intro{
	&.container-fluid{
		background-image:url(../img/img-home.png);
		height:100%;
		background-repeat: no-repeat;
		background-size:cover;
	}
}
.text-center {
	text-align:center;
	padding: 6% 4% 0% 13%;
}
.text-primary {
	color: #58C6E7;
 
}
h3, h4 {
font-weight: 500;
  line-height: 1.3;
  margin-top: 21px;
  margin-bottom: 10.5px;
 }
 .text-gray {
 color: #9E9D9D;
 }
 .btn{
 padding : 11px 28px;
 }
 .btn-default {
   color: white !important;
  padding: 2px 12px !important;
  background: #aaa;
  border-radius: 17px;
  border: 1px solid #9f9f9f;
  }

  .btn-danger {
  color: #fff;
  background-color: #FF6A49;
  border-color: #ff5530;
}
.flecha {
  position: relative;
  z-index: 100;
  bottom: 23px;
  text-align: center;
}
.flecha-home img {
	position: absolute;
}
h1{
	color:#58C6E7;
	text-align:center;
}
span {
	color:#FF6A49;
}
.first-icon {
	position: relative;
  padding-left: 122px;
  top: 10px;
}
.second-icon{
	left: -35px;
  position: relative;
  bottom: -58px;
}
.line-container {
  height: 150px;
  &.sm {
    height: 100px;
  }
}

.line1 {
  width: 150px;
  height: 47px;
  border-bottom: 2px dashed #FF6A49;
  position: absolute;
 /* -webkit-transform: translateY(10px) translateX(2px) rotate(-18deg);*/
  top: -21px;
  left: 0px;
  -webkit-transform:
        translateY(115px)
        translateX(56px)
        rotate(-18deg); 
}
.circulo-externo {
  background-color: #ff6a49;
  height: 70%;
  border-radius: 50%;
  padding: 0.5rem;
  width: 92%;
}
.line2{
	width: 151px;
  height: 47px;
  position: absolute;
  border-bottom: 2px dashed #FF6A49;
 -webkit-transform:
        translateY(116px)
        translateX(-63px)
        rotate(22deg); 
  bottom: 125px;
  left: -15px;
}
.container .circulo-externo .circulo-interno {
 /*background-color: #ff6a49;
  border: 2px dashed white;
  height: 96%;*/
  /*border-radius: 50%;*/
  border: 2px dashed white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: 13% 17% 0%;
}
.circle-text h4 {
  color: white;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 21px;
}
.linea3{
  border-left: 2px dashed #FF6A49;
  height: 90px;
  width: 150px;
  position: absolute;
  left: 43%;
}
.text-left {
 
}
.text-mean{
 color: #FF6A49;
 letter-spacing: -1px;
 margin: 0px;
}
.text-medio {
  position: relative;
}
.text-right{

}
.buttom-center {
  text-align: center;
  padding-left: 4%; 
   padding-top: 8%;
}
.buttom-center .btn-default {
  padding: 7px 40px !important;
  background: #58C6E7;
  border-radius: 17px;
  border: 1px solid #9f9f9f;
  margin-bottom: 10%;
}

/*.text-metodologia {
  display: block;
  position: relative;
}
.text-medio {
  display: block;
  position: relative;
}*/
.flecha-2{
  position: relative;
  z-index: 100;
  bottom: 23px;
  text-align: center;
}
.flecha-center img {
  position: absolute;
  left: 46%
}
.container-postulantes {
  background-image: url(../img/img-02.png);
  height:227%;
}
.text-postula  {
  text-align: center;
 color: white;
   padding:6% 0%;
    h3 {
      font-size: 25px;
    }
}

.icon-1{
  text-align: right;
}

.logo1{
  position: absolute;
  left: 77%;
  top: 0%;
}
.perfil {
  border-bottom: 1px dashed white;
}
.perfil-2 {
  border-bottom: 1px dashed white;

}
.perfil-3{
  border-bottom: 1px dashed white;

}
.perfil-2 h4{
 font-size: 24px;
  color: #fff;
  padding-right: 11%;
}
.perfil-3 h4{
   font-size: 24px;
  color: #fff;
  padding-right: 10%;
}

.perfil h4{
  font-size: 24px;
  color: #fff;
}

.text-perfil-2{
  text-align: center;
  color: #fff;
  padding: 9% 28%;

}
.perfiles{
  margin-bottom: 7%;
}
.right-1{
    border: 1px dashed white;
  width: 8%;
  -webkit-transform: translateY(29px) translateX(415px) rotate(90deg);
}
.right-2{
    border: 1px dashed white;
  width: 19%;
  -webkit-transform: translateY(25px) translateX(363px) rotate(90deg);
}
.right-3{
    border: 1px dashed white;
    width: 12%;
  -webkit-transform: translateY(14px) translateX(400px) rotate(90deg);

}
.buttom-postula .btn-default {
  color: white !important;
  padding: 9px 15px !important;
  background: #58C6E7;
  border-radius: 17px;
  border: 1px solid #fff;
}

.buttom-postula{
  text-align: center;
}

/*empresa*/
.container-empresas{
  text-align: center;
  padding-top: 4%;
}
    h2{
      color:  #FF6A49;
    }

.buttom-empresa{
  border: 1px dashed #FF6A49;
  width: 42%;
  margin: 8px auto;

}
.logo-empresa img {
  border-radius: 60%;
}
.text-empre{
  padding: 0% 6%;
}
/*.container-empresas p {
  padding: 1% 29% 2%;
}*/


.buttom-empresa2 .btn-default {
  color: white !important;
  padding: 4px 29px !important;
  background: #FF6A49;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-bottom: 7%;
}


/*educativo*/

.educativos{
  background-color: #77d248;
  height: 120%;
  text-align: center;
}
.texto-educativos{
  margin-top: 6%;
  text-align: center;
}
.texto-educativos h2 {
  color: #fff;
  font-size: 25px;
}
.texto-educativos h4{
  color: #fcf07e;
}

.texto-educativos p{
  padding: 1% 25%;
  color: white;
}

.buttom-educativo{
    border: 1px dashed #fff;
  width: 48%;
  margin: 8px auto;
}
.text-educa{
  color: #fff;
}
.buttom-educa .btn-default {
  color: white !important;
  padding: 6px 50px !important;
  background: #77d248;
  border-radius: 17px;
  border: 3px solid #fff;
  margin: 6% auto;
}
/*oportunidades*/
.oportunidades{
  background-image: url(../img/img-03.png);
  width: 100%;
  background-size: cover;
}
.text-1{
  padding-top: 4%;
}
.text-1 h2 {
  color: gray;
  text-align: center;
  padding: 4% 5% 3% 8%;
}
.lista{
  border-bottom: 1px dashed rgba(128, 128, 128, 0.21);
  margin: 0 24%;
  padding: 3% 0%;
}
.servicio{
  padding-bottom: 3%;
}
.servicio li{
  text-decoration: underline;
  color: #58C6E7;
  list-style: none;
}
li{
  list-style: none;
  color: gray;
}
.ver{
  margin-top: 40%;
  float: right;
}

.ver .btn-default {
  color: #FF6A49 !important;
  padding: 2px 12px !important;
   background: white; 
  border-radius: 17px;
  border: 1px solid;
  border: 1px solid #FF6A49;
}
@media screen and (max-width:$screen-phone){
  .navbar-toggle{
    float: left;
  }
  .navbar{
    background-color: gray;
  }
}