.landing {
  background-image: url(../img/img_nosotros-02.png);
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
 }
.container {
	width: 100%;
  padding: 0px;

}